$main-size: 3em;
$secondary-size: 8px;

$primary-color: #006400;
$secondary-color: #9acd32;
$color-yellow: #ffff00;
$color-coral: #ff7f50;
$color-text-list: #fff;
$secondary-color-text-list: #000;

$shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
