* {
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
}

.spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.circle {
  margin-bottom: 8px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-color: rgb(0 0 0) rgb(211 211 211) rgb(211 211 211) rgb(211 211 211);
  border-width: 4px;
  border-style: solid;
  animation: twist 2s infinite linear;
}

.spinner-text {
  font-family: monospace;
  font-size: 16px;
  text-transform: uppercase;
  animation: blinking 2s infinite linear;
}

@keyframes blinking {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes twist {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
