body {
  background-color: antiquewhite;
}

.identical {
  width: 512px;
  height: 128px;
  margin: 16px;
  padding: 16px;
  border: 8px solid black;
}

.rectangle1 {
  box-sizing: content-box;
  background-color: aquamarine;
}

.rectangle2 {
  box-sizing: border-box;
  background-color: azure;
}
