* {
  box-sizing: border-box;
}

table {
  width: 800px;
  margin: 16px;
}

td,
th {
  padding: 4px;
  text-align: right;
  line-height: 40px;
}

caption {
  margin: 8px;
}

thead {
  background-color: #00ffff;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

div {
  overflow-x: auto;
}

tbody > tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tbody > tr:hover {
  background-color: #aaa;
  color: #fff;
}

tfoot {
  font-weight: 700;
}
