.navigation {
  display: flex;
  background-color: #ff7f50;
  min-height: 200px;
  flex: 1 1;
}

.product-list {
  display: flex;
  background-color: #006400;
  min-height: 200px;
  flex: 1 1;
}

.news {
  display: flex;
  background-color: #0ff;
  min-height: 200px;
  flex: 1 1;
}

span {
  margin: auto;
  text-transform: lowercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 8px;
  background-color: #faebd7;
  border-radius: 4px;
}

@media screen and (min-width: 600px) {
  .products {
    display: flex;
    flex: 2 1;
  }
}

@media screen and (min-width: 900px) {
  .content {
    display: flex;
  }
}
