* {
  box-sizing: border-box;
}

.identical {
  border: 2px solid black;
  margin: 50px;
}

.rectangle {
  background-color: blue;
}

.rectangle2 {
  background-color: yellow;
}

.rectangle3 {
  background-color: green;
}

.rectangle4 {
  background-color: pink;
  padding: 50px;
}
