.static-parent {
  position: static;
}

.relative-parent {
  position: relative;
  bottom: 20px;
  right: 50px;
}

.absolute-parent {
  position: absolute;
  bottom: 20px;
  right: 50px;
}

.fixed-parent {
  position: fixed;
  bottom: 20px;
  left: 30px;
}
