* {
  box-sizing: border-box;
}

.text {
  margin: 16px;
  border-bottom: 1px dotted black;
  display: inline;
}

.tooltip {
  position: relative;
  display: none;
  background-color: grey;
  color: white;
  border-radius: 4px;
  padding: 8px;
  bottom: -40px;
  margin-left: 16px;
  width: 95px;
}

.text:hover > .tooltip {
  display: block;
}
