* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
}

.article {
  margin: 8px;
  padding: 16px;
  background-color: bisque;
  flex-basis: 300px;
  min-width: 300px;
  flex-grow: 1;
}

.articles-list {
  display: flex;
  flex-wrap: wrap;
}
