li {
  margin-bottom: 16px;
}

ul > li:first-child > span {
  background-color: red;
  color: white;
}

ul > li:last-child > span {
  background-color: black;
  color: white;
}

li:nth-child(even) > span {
  margin-left: 16px;
}

.paragraphs > p:nth-of-type(odd) {
  background-color: grey;
}
