* {
  box-sizing: border-box;
}

.articles {
  display: flex;
}

.articles > div {
  width: 150px;
  height: 100px;
  background-color: beige;
  margin: 16px;
}

.cropped {
  overflow: hidden;
}

.both-scrolls {
  overflow: scroll;
  cursor: all-scroll;
}

.vertical-scroll {
  overflow-y: auto;
  cursor: all-scroll;
}
